a{
    text-decoration: none;
    color :white
}

body{
    margin: 0px;
    background-color: black;
    color: white;
}


#box1{
    font-size: 3.3rem;
    padding-top: 160px;
    padding-left: 10%;
    font-family: mark pro;
    margin: 0px 5px 0px 0px;
}

#box2{
    padding-left: 10%;
    padding-top: 10%;
    text-decoration: none;
    color: white;
}


#box3{
    margin-top: 15rem;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
}

#box3 > a{
    margin-right: 25px;
}

.box3Text{
    text-decoration: none;
    color: white; 
}

.box3Img{
    width : 30px;
    height: 30px;
}

.image-wrapper {
    width : 240px;
    height: 250px;
    margin: 20rem auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper > img{
    width : 70%;
    height: 70%;
    border-radius: 600px;
}

@media (min-width: 768px) {
    .image-wrapper > img{
        width : 100%;
        height: 100%;
    }
}

#box4_1 {
    font-size: 20px;
    text-align: justify;
    padding: 30px;
}

@media (min-width: 768px) {
    #box1{
        font-size: 84px;
        padding-left: 18%;
        padding-top: 300px;
    }

    #box2 {
        padding-left: 18%;
        padding-top: 5%;
    }

    #box4_1 {
        padding: 30px;
        width: 58rem;
        font-size: 22px;
        margin-left: 16.5%;
    }

    #box4_2 {
        margin-left: 18%;
    }
}



#box4_2{
    padding: 28px;
}

#box4_H{
    margin-top: 100px;
    margin-left: -20px;
    font-size: 32px;

    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.box4Connect{
    color: white;
    margin-left: -24px;}

@media (max-width: 768px) {
    .box4Connect > a > img {
        width: 2rem;
        height: 2rem;
    }
}

#box4_aboutmePhoto_Paragraph_letsconnect {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.centreFlex{
    display: flex;
    flex-direction: row;    
}

.centreItem{
    align-self: center;
}

.left-padding-20{
    padding-left: 20px;
}

.left-padding-5{
    padding-left: 5px;
}

#statsSectionFlex{
    display: flex;
    width: 67%;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 150px;
}

@media (min-width: 768px) {
    #statsSectionFlex {   
        flex-direction: row;
        margin-top: 130px;
    }
}

.statsSectionSubFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statsSectionSubFlex-heading1{
    font-size: 40px;
    color: silver;
}

.statsSectionSubFlex-heading2{
    font-size: 30px;
    color: silver;
    margin: 0px;
}

.statsSectionSubFlex-heading3{
    font-size: 20px;
}


#toolsIuse{
    margin-top: 130px;
    font-size: 35px;
    margin-left: 18.5%;
    margin-bottom: 60px;

    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.techBox{
    display: flex;
    flex-direction: row;
    width: 66%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.techCapsule{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techCapsuleImgDiv{
    width: 100px;
    height: 100px;
}

.techCapsuleImg{
    width: 100%;
    height: 100%;
}

.techCapsuleImg2, .connectCapsuleImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#connectHeading{
    margin-top: 130px;
    margin-bottom: 40px;
    margin-left: 5%;
    font-size: 35px;

    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
    #connectHeading{
        margin-left: 19%;
    }
}

.connectCapsule{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#baseConnectBox{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

@media (min-width: 768px) {
    #baseConnectBox{
        width: 30%;
        margin-left: 17%;
    }
}

.connectCapsuleImgDiv{
    width: 50px;
    height: 50px;
}

.miscConnectCapsuleImgDiv{
    width: 50px;
    height: 43px;
}

.miscConnectCapsuleText{
    margin-top: 22px;
}

hr{
    margin:0%;
    padding: 0px;
}

#credits{
    padding: 13px;
    margin: 0px;
}

#projectSectionHeading{
    font-size: 35px;
    margin-left: 18.5%;
    margin-top: 200px;
    font-weight: bold;

    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlightByOtherColor{
    color: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

        
    color: #aa32b8;
    background-image: -webkit-linear-gradient(0deg, #aa32b8 11%, #e91e63 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-text-fill-color: transparent;

}

.project-section {
    display: flex;
    justify-content: center;
    width: 63%;
    margin: auto;
}

.project-card {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    margin: 2rem auto;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.project-video-wrapper {
    max-width: 100%;
    height: auto;
}

.project-video {
    max-width: 100%;
}

.project-first-col {
    width: 60%;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.project-second-col {
    width: 40%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.project-card-details {
    /* list-style: none; */
    margin: 1rem 0;
    padding: 0px;
}

.project-card-name {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-card-item {
    /* display: flex; */
    align-items: flex-start;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.project-links {
    display: flex;
    width: 100%;
}

.project-links > a {
    font-size: 1rem;
    padding: 1rem 1rem;
    border: 1px solid #fff;
    margin-right: 1rem;
}

.project-skill-icons {
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    margin: 3rem auto 0;
    flex-wrap: wrap;
}

.project-skill-icons > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.project-skill-icons > div > img {
    width: 4rem;
    height: 4rem;
    font-size: 5rem;
    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.project-skill-icons > div > h4 {
    font-size: 1rem;
    font-weight: 700;
    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

@media (max-width: 1100px) {
    .project-section .project-card {
        flex-direction: column;
    }

    .project-first-col {
        width: 100%;
    }

    .project-second-col {
        width: 100%;
    }
}

.project-card-description{
    font-size: 21px;
    margin: 25px 0px 0px 0px;
}

/* .color2{

    color: #b8f5ff !important;
    background-image: -webkit-linear-gradient(0deg, #b8f5ff 0%, #f09dfc 100%) !important;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  
  } */