a {
    text-decoration: none;
    color: white
}

body {
    margin: 0px;
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#box1 {
    font-size: 3.3rem;
    font-weight: 700!important;
    padding-top: 160px;
    padding-left: 10%;
    /* font-family: mark pro; */
    margin: 0px 5px 0px 0px;
    
    -webkit-animation: fadein 3s;

}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#box1 .effectObj2 {
    -webkit-animation: fadein 6s !important;
}

#box1 .effectObj3 {
    -webkit-animation: fadein 9s !important;
}

/* .header{
    display: none;
} */


#box2 {
    padding-left: 10%;
    padding-top: 10%;
    text-decoration: none;
    color: gray;
    animation: cssAnimation 0s 3s forwards;
    visibility: hidden;

}

@keyframes cssAnimation {
    to   { visibility: visible; }
  }

#box3 {
    margin-top: 23rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    animation: cssAnimation 0s 3s forwards;
    visibility: hidden;
    color: gray;
}

#box3>a {
    margin-right: 25px;
}

.box3Text {
    text-decoration: none;
    color: white;
}

.box3Img {
    width: 30px;
    height: 30px;
}

.image-wrapper {
    width: 240px;
    height: 250px;
    margin: 7rem auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper>img {
    width: 70%;
    height: 70%;
    border-radius: 600px;
}

@media (min-width: 768px) {
    .image-wrapper>img {
        width: 100%;
        height: 100%;
    }
}

#box4_1 {
    font-size: 20px;
    text-align: justify;
    padding: 30px;
    padding-bottom: 40px;
    margin: auto;
}

/* iPadAir */
@media screen and (min-device-width: 720px) and (max-device-width: 992px) {

    /* STYLES HERE */
    #box3 {
        margin-top: 35rem;
        margin-right: 5.5%;
    }

    #box1 {
        padding-top: 390px;
    }

    #box4_1 {
        padding: 7.5% !important;
        padding-bottom: 9.5% !important;
        margin: auto;
    }

    .image-wrapper {
        width: 200px !important;
        height: 200px !important;
    }

    #box4_H {
        margin-top: 15px !important;
        margin-left: 11.2% !important;
        font-size: 30px !important;
    }

    .box4Connect {
        margin-left: 10.4% !important;
    }

    .centreFlex>img {
        width: 35px !important;
        height: 35px !important;
    }

    .statsSectionSubFlex-heading1 {
        font-size: 25px !important;
    }

    .statsSectionSubFlex-heading2 {
        font-size: 20px !important;
    }

    .statsSectionSubFlex-heading3 {
        font-size: 18px !important;
    }

    #statsSectionFlex {
        margin-top: 110px;
        width: 85% !important;
        margin-top: 110px;
    }

    #projectSectionHeading {
        font-size: 30px !important;
        margin-left: 7.5% !important;
        margin-top: 70px !important;
        margin-bottom: 10px !important;
    }

    .project-section {
        width: 85% !important;
    }

    #toolsIuse, #toolsIuse-2 {
        margin-left: 7.5% !important;
        margin-bottom: 30px !important;
    }

    .techBox {
        display: flex;
        flex-direction: row;
        width: 85% !important;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-around;
    }

    .techCapsule {
        margin: 0px 20px 0 20px !important;
    }

    #connectHeading {
        margin-left: 7.5% !important;
    }

    #baseConnectBox {
        width: 75% !important;
        margin: auto !important;
        margin-bottom: 30px !important;
    }

    .project-skill-icons {
        margin: 3rem auto 1rem !important;
    }

    .project-skill-icons>div {
        margin: 0 10px 0 10px !important;
    }

    .project-card {
        margin-top: 7px !important;
    }

    #box4_2 {
        margin-left: -5.5% !important;
        padding-bottom: 70px !important;
    }

    .project-card-name {
        font-size: 28px;
    }

    #toolsIuse, #toolsIuse-2 {
        font-size: 30px !important;
    }

    #connectHeading {
        font-size: 30px !important;
    }

    .project-card-item {
        font-size: 21px !important;
    }

    .project-card-details {
        padding: 1px !important;
    }

    .innerBoxCategory{
        font-size: 22px !important;
    }


}

/* Mobile */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #box1 {
        font-size: 2.5rem !important;
        padding-top: 180px !important;
        padding-left: 10%;
        /* font-family: mark pro; */
        margin: 0px 5px 0px 0px;
    }

    .box3Img {
        width: 20px;
        height: 20px;
    }

    #box3 {
        font-size: 10px;
        margin-top: 18rem;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        color: white;
    }

    .image-wrapper {
        width: 240px;
        height: 250px;
        margin: 5rem auto 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #box4_1 {
        font-size: 18px;
        text-align: justify;
        padding: 30px;
        padding-bottom: 40px;
        margin: auto;
    }

    #box3>a {
        margin-right: 12px;
    }

    #box4_2 {
        padding: 28px;
        margin-left: 5% !important;
        margin-top: -3rem;
        padding-bottom: 60px !important;

    }

    #statsSectionFlex {
        display: flex;
        width: 67%;
        margin: auto;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 80px !important;
    }

    #box4_H {
        /* margin-top: 15px !important;
        margin-left: 11.2% !important; */
        font-size: 24px !important;
    }

    .statsSectionSubFlex-heading1 {
        font-size: 25px !important;
        color: silver !important;
        margin: 13px 0 9px 0 !important;
    }

    .statsSectionSubFlex-heading2 {
        font-size: 20px !important;
        color: silver;
        margin: 0px !important;
    }

    .statsSectionSubFlex-heading3 {
        font-size: 20px !important;
        margin: 9px 0 13px 0 !important;
    }

    .project-card {
        border: 1px solid #fff;
        border-radius: 0.5rem;
        margin: 10px 10px !important;
        padding: 2rem !important;
        display: flex;
        justify-content: space-between;
        color: #fff;
        /* width: 27px; */
    }

    .project-section {
        display: flex;
        justify-content: center;
        width: 90% !important;
        margin: auto;
        flex-direction: column;
    }

    #projectSectionHeading {
        margin-left: 8.2% !important;
        font-size: 24px !important;
        margin-top: 40px !important;
    }

    .project-card-name {
        font-size: 20px !important;
    }

    .project-card-description {
        font-size: 18px !important;
        margin: 25px 0px 0px 0px !important;
    }

    .project-card-details {
        font-size: 18px !important;
    }

    .project-skill-icons>div>h4 {
        font-size: 0.9 rem !important;
    }

    .project-skill-icons>div>img {
        width: 50px !important;
        height: 50px !important;
    }

    .project-skill-icons>div {
        margin-right: 0 !important;
        margin: 0 7px 0 7px;
    }

    .project-card-item {
        font-size: 18px !important;
    }

    .project-skill-icons>div>h4 {
        font-size: 14px !important;
    }

    .project-links>a {
        font-size: 15px !important;
        padding: 0.8rem 0.8rem !important;
    }

    #toolsIuse, #toolsIuse-2 {
        margin-left: 7.5% !important;
        font-size: 24px !important;
    }

    .techBox {
        width: 80% !important;
    }

    .techCapsuleImgDiv {
        width: 56px !important;
        height: 49px !important;
    }

    .techCapsuleText {
        font-size: 10px !important;
    }

    #connectHeading {
        font-size: 24px !important;
        margin-left: 7.5% !important;
    }

    #baseConnectBox {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px !important;
        width: 75% !important;
        margin-left: 12.5% !important;
    }

    .connectCapsuleImgDiv {
        width: 35px !important;
        height: 35px !important;
    }

    .miscConnectCapsuleImgDiv {
        width: 35px !important;
        height: 30px !important;
    }

    .project-second-col {
        width: 94% !important;
    }

    .techBox {
        scale: .8;
    }

    #toolsIuse,#toolsIuse-2  {
        margin-bottom: -20px !important;
    }

    .rowInnerBox {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px 25px 5px 52px !important;
        /* border: 1px solid white; */
    }

    .gitHubCalendar{
        scale: 0.41;
    }

    .contrib-number {
        color: white !important;
        scale: .68 !important;
    }

    .mobSkills{
        display: flex;
        justify-content: start;
        margin-left: 9px;
        /* flex-wrap: wrap !important; */
    }

    .mobSkillsHeading{
        margin: 9% 0 2% 7% !important;
        font-size: 15px !important;

        background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .techCapsule{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 10px 0 10px !important;
    }

    .mobSkillsOuterBox{
        margin: auto;
        margin-top: 60px !important;
        width: 95%;
    }

    /* sb */
    #idsbPiconsRestricted_misc {
        width: 45px !important;
        height: 35px !important;
        margin-bottom: 1px;
        margin-top: 3px;
    }    

    #idsbPiconsRestricted_misc2{
        width: 30px !important;
        height: 25px !important;
        margin-bottom: 2px;
        margin-top: 10px;
    }  
    
    .project-first-col {
        margin-bottom: 20px;
    }


}

@media (min-width: 992px) {
    #box1 {
        font-size: 84px;
        padding-left: 15%;
        padding-top: 300px;
    }

    #box2 {
        padding-left: 15%;
        padding-top: 5%;
    }

    #box3 {
        margin-top: 15rem;
    }

    #box4_2 {
        padding: 28px;
        margin-left: 26px;
        /* margin-left: -3rem !important;
        margin-bottom: 3rem !important; */
    }
}

/* @media (min-width: 320px) and (max-width:480px){
    #box4_2{
        padding: 28px;
        margin-top: -2rem;
        margin-left: 18%;
    } 
    .centreItem{
        font-size: 18px;
    }
} */

@media (min-width: 992px) {
    #box4_1 {
        padding: 30px;
        padding-bottom: 50px !important;
        width: 58rem;
        font-size: 22px;
        /* margin-left: 16.5%; */
        margin: auto;;
    }
}

#box4_2 {
    padding: 28px;
    margin-left: 18%;
    padding-bottom: 70px;
}

#box4_H {
    margin-top: 100px;
    margin-left: -20px;
    font-size: 35px;

    background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.box4Connect {
    color: white;
    margin-bottom: 2px;
    margin-left: -24px;
}

@media (max-width: 768px) {
    .box4Connect>a>img {
        width: 2rem;
        height: 2rem;
    }
}

#box4_aboutmePhoto_Paragraph_letsconnect {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f5f7f9;
    color: black;
}

.centreFlex {
    display: flex;
    flex-direction: row;
}

.centreItem {
    align-self: center;
}

.left-padding-20 {
    padding-left: 20px;
}

.left-padding-5 {
    padding-left: 5px;
}

#statsSectionFlex {
    display: flex;
    width: 65%;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 150px;
}

@media (min-width: 768px) {
    #statsSectionFlex {
        flex-direction: row;
        margin-top: 130px;
    }
}

.statsSectionSubFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statsSectionSubFlex-heading1 {
    font-size: 34px;
    color: silver;
}

.statsSectionSubFlex-heading2 {
    font-size: 28px;
    color: silver;
    margin: 0 20px 0 20px;
}

.statsSectionSubFlex-heading3 {
    font-size: 25px;
    margin: 15px 10px 0 10px;
    text-align: center;
}


#toolsIuse, #toolsIuse-2  {
    margin-top: 130px;
    font-size: 35px;
    margin-left: 18.5%;
    margin-bottom: 60px;

    background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.techBox {
    display: flex;
    flex-direction: row;
    width: 66%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.techCapsule {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0 20px;
}

.techCapsuleImgDiv {
    width: 100px;
    height: 100px;
}

.techCapsuleImg {
    width: 100%;
    height: 100%;
}

.techCapsuleImg2,
.connectCapsuleImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.techCapsuleImg3 {
    width: 100%;
    height: 100%;
}

#connectHeading {
    margin-top: 130px;
    margin-bottom: 40px;
    margin-left: 5%;
    font-size: 35px;

    background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
    #connectHeading {
        margin-left: 19%;
    }
}

.connectCapsule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#baseConnectBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

@media (min-width: 768px) {
    #baseConnectBox {
        width: 30%;
        margin-left: 17%;
    }
}

.connectCapsuleImgDiv {
    width: 50px;
    height: 50px;
}

.miscConnectCapsuleImgDiv {
    width: 50px;
    height: 43px;
}

.miscConnectCapsuleText {
    margin-top: 9px;
}

hr {
    margin: 0%;
    padding: 0px;
}

#credits {
    padding: 13px;
    margin: 0px;
}

#credits:hover{
    color: #91dbfb;
    cursor: pointer;
}

#projectSectionHeading {
    font-size: 35px;
    margin-left: 18.5%;
    margin-top: 150px;
    margin-bottom: 0px;
    font-weight: bold;

    background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlightByOtherColor {
    color: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    animation: blinker 1s linear infinite;

    /* color: #aa32b8;
    background-image: -webkit-linear-gradient(0deg, #aa32b8 11%, #e91e63 100%);
    background-clip: text;
    -webkit-background-clip: text; */
    /* text-fill-color: transparent; */
    /* -webkit-text-fill-color: transparent; */

}


@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.project-section {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
    flex-direction: column;
}

@media (min-width: 768px) {
    .project-section {
        width: 63%;
    }
}

.project-card {
    border: 1px solid #fff;
    border-radius: 0.5rem;
    margin: 2rem auto;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.project-video-wrapper {
    max-width: 100%;
    height: auto;
}

.project-video {
    max-width: 100%;
    border-radius: 7px;
}

.project-first-col {
    width: 60%;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.project-second-col {
    width: 40%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.project-card-details {
    /* list-style: none; */
    margin: 1rem 0;
    padding: 0px;
}

.project-card-name {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-card-item {
    /* display: flex; */
    align-items: flex-start;
    font-size: 20px;
    margin: 1rem 0;
}

.project-links {
    display: flex;
    width: 100%;
}

.project-links>a {
    font-size: 1rem;
    padding: 1rem 1rem;
    border: 1px solid #fff;
    border-radius: 7px;
    margin-right: 1rem;
}

.project-skill-icons {
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    margin: 3rem auto 0;
    flex-wrap: wrap;
    justify-content: center ;

}

.project-skill-icons>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.project-skill-icons>div>img {
    width: 4rem;
    height: 4rem;
    font-size: 5rem;
    background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.project-skill-icons>div>h4 {
    font-size: 1rem;
    font-weight: 700;
    background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

@media (max-width: 1100px) {
    .project-section .project-card {
        flex-direction: column;
    }

    .project-first-col {
        width: 100%;
    }

    .project-second-col {
        width: 100%;
    }
}

.project-card-description {
    font-size: 20px;
    margin: 25px 0px 0px 0px;
}

.contrib-number {
    color: white !important;
    scale: .85;
}

.githubCalendarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-bottom: -75px;
    /* scale: 0.16; */
}

@media (min-width:768px) {
    .githubCalendarWrapper {
        scale: 0.7;
    }
}

@media (min-width:992px) {
    .githubCalendarWrapper {
        scale: 1.1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px;
        padding-top: 120px;
        padding-bottom: 50px;
    }
}

.rowInnerBox {
        margin: auto;
    display: flex;
    width: 87%;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    /* border: 1px solid white; */

}

.techBoxFirstCol {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 25%;
}

.innerBoxCategory {
    white-space: nowrap;
    flex: 50%;
}

@media (min-width: 768px) {
    .innerBoxCategory {
        font-size: 25px;
        font-weight: 500;    }
}

.innerBoxIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
}

.divider {
    height: 100%;
    width: 5px;
    background-color: white;
}

.miscDivider {
    margin-left: 8px;
}

.miscDivider2 {
    margin-left: 25px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .topOffset {
        margin-top: 20px;
    }
}

a:hover {
    text-decoration: underline !important;
    text-underline-offset: 5px !important;
    text-decoration-color: gray !important;
}

/* Navbar addons */

.custom-navbar-color{
    color: white!important;
}

.custom-btn-color{
    color: white!important;
    background-color: #444747 !important;
}

.custom-navbar-color:hover{
    color: #b0f3f1 !important;
    text-decoration: none !important;
}

.cus-button-color{
    color: grey!important;
}

.navbar-toggler-icon{
    color: white!important;
}

@font-face {
    font-family:brand ;
    src: url(assets/RaffishlyRegular-x3gaV.ttf);
}

.navbar-brand{
    font-family: brand !important;
}

@font-face {
    font-family:Roboto-Regular ;
    src: url(Roboto-Regular.ttf);
}

.signature-font{
    font-size: 30px !important;
}

.custom-height-adjust{
    padding: 0px !important;
}

#headerDelay{
    /* animation: cssAnimation 0s 5s forwards;
    visibility: hidden; */
    opacity: 0.9 !important;
}

a:hover{
    color: #b0f3f1 !important;
}

.contrib-column{
border-top: 0px !important;
}

.border{
    border: 0px !important;
}

.restrict_img{
    width: 50%;
    height: 50%;
    margin: 1.2rem;
}

.restrict_img_mob{
    width: 50%;
    height: 50%;
    margin: 0.5rem;
}

.restrict_img-2{
    width: 70%;
    height: 70%;
    margin: 1.2rem;
}

.restrict_img-2_mob{
    width: 70%;
    height: 70%;
    margin: 0.5rem;
}

#skills_outer_box_color{
    background-color: black
}

.stsIcon{
    width: 110%;
    margin: auto;
    height: 110%;
}

.sprbootIcon{
    width: 100%;
    height: 50%;
    margin: 20px;
    margin-left: 6px;
}

.sprbootIconMob{
    width: 105%;
    height: 55%;
    margin: 10px 0 ;
}

.restrict_img-2_mob{
    width: 70%;
    height: 70%;
    margin: 0.45rem;
}

.maxImgSTSmob{
    width: 120%;
    height: 125%;
    margin-top: -7px;
}

.float-left{
    display: none !important;
}

.centreFlex{
    font-size: 18.5px;
}

.sbPiconsRestricted{
    width: 3.2rem !important;
    height: 3.2rem !important;
}

.sbPiconsRestricted_misc{
    width: 3.7rem !important;
    height: 2.55rem !important;
    /* margin-bottom: 1.2 rem !important; */
}

.sbPiconsRestricted_misc2{
    width: 2.6rem !important;
    height: 2.6rem !important;
}

.sbTextMisc{
    margin-top: .55rem !important;
}

.sbTextMisc2{
    margin-top: .7rem !important;
}

/* .sbPiconsRestrictedMargin{
    margin-right: .7 rem !important;
} */