#OuterMostContainer{
    background-color: black;
    color: white;
    /* font-family: sans-serif; */
}

body{
    margin: 0px;
}

#Box1{
    font-size:70px;
    padding-top: 300px;
    padding-left: 25%;
    font-family: mark pro;
    margin: 0px;
}

#Box2{
    padding-left: 25%;
    padding-top: 5%;
}